version: "3"
services:
  Reunionou_api_adminer:
    container_name: Reunionou_api_adminer
    image: adminer:4
    depends_on:
      - Reunionou_api_db
    ports:
      - ${EXPOSED_ADMINER_PORT}:8080
    networks:
      - Reunionou_api
  
  Reunionou_api_db:
    container_name: Reunionou_api_db
    image: mariadb:latest
    env_file:
      - ./database/config/bdd.env
    volumes:
      - ./db:/var/lib/mysql
      - ./database/scripts/schema.sql:/docker-entrypoint-initdb.d/1.sql
      - ./database/scripts/demo_data.sql:/docker-entrypoint-initdb.d/2.sql
    networks:
      - Reunionou_api

  Reunionou_api:
      container_name: Reunionou_api
      image: node:17
      depends_on:
        - Reunionou_api_db
      links:
        - Reunionou_api_db
      env_file:
        - ./database/config/bdd.env
      working_dir: /usr/src/app
      volumes:
        - ./tsconfig.json:/usr/src/app/tsconfig.json
        - ./database:/usr/src/app/database
        - ./src:/usr/src/app/src
        - ./node_modules:/usr/src/app/node_modules
      ports:
        - ${EXPOSED_EXPRESS_PORT}:3000
      command: npx ts-node src/server.ts
      networks:
        - Reunionou_api

networks:
  Reunionou_api:
    driver: bridge