version: "3"
services:
  Reunionou_api_adminer:
    container_name: Reunionou_api_adminer
    image: adminer:4
    ports:
      - ${EXPOSED_ADMINER_PORT}:8080
    networks:
      - Reunionou_api
  
  Reunionou_api_db_main:
    container_name: Reunionou_api_db_main
    image: mariadb:latest
    env_file:
      - ./databases/main/config/bdd.env
    volumes:
      - ./databases/data/main:/var/lib/mysql
      - ./databases/main/scripts/schema.sql:/docker-entrypoint-initdb.d/1.sql
      - ./databases/main/scripts/demo_data.sql:/docker-entrypoint-initdb.d/2.sql
    networks:
      - Reunionou_api

  Reunionou_api_db_auth:
    container_name: Reunionou_api_db_auth
    image: mariadb:latest
    env_file:
      - ./databases/authentification/config/bdd.env
    volumes:
      - ./databases/data/auth:/var/lib/mysql
      - ./databases/authentification/scripts/schema.sql:/docker-entrypoint-initdb.d/1.sql
      - ./databases/authentification/scripts/demo_data.sql:/docker-entrypoint-initdb.d/2.sql
    networks:
      - Reunionou_api

  Reunionou_api_main:
      container_name: Reunionou_api_main
      image: node:17
      depends_on:
        - Reunionou_api_db_main
      links:
        - Reunionou_api_db_main
      env_file:
        - ./databases/main/config/bdd.env
      environment:
        - http_proxy=http://www-cache.iutnc.univ-lorraine.fr:3128
        - https_proxy=http://www-cache.iutnc.univ-lorraine.fr:3128
      working_dir: /usr/src/app
      volumes:
        - ./tsconfig.json:/usr/src/app/tsconfig.json
        - ./package.json:/usr/src/app/package.json
        - ./package-lock.json:/usr/src/app/package-lock.json
        - ./databases/main:/usr/src/app/databases/main
        - ./services/main:/usr/src/app/services/main
        - ./node_modules:/usr/src/app/node_modules
      ports:
        - ${EXPOSED_MAIN_API_PORT}:3000
      command: npx ts-node services/main/src/server.ts
      networks:
        - Reunionou_api

  Reunionou_api_auth:
      container_name: Reunionou_api_auth
      image: node:17
      depends_on:
        - Reunionou_api_db_auth
      links:
        - Reunionou_api_db_auth
      env_file:
        - ./databases/authentification/config/bdd.env
      environment:
        - http_proxy=http://www-cache.iutnc.univ-lorraine.fr:3128
        - https_proxy=http://www-cache.iutnc.univ-lorraine.fr:3128
      working_dir: /usr/src/app
      volumes:
        - ./tsconfig.json:/usr/src/app/tsconfig.json
        - ./package.json:/usr/src/app/package.json
        - ./package-lock.json:/usr/src/app/package-lock.json
        - ./databases/main:/usr/src/app/databases/main
        - ./services/main:/usr/src/app/services/main
        - ./node_modules:/usr/src/app/node_modules
      ports:
        - ${EXPOSED_AUTH_API_PORT}:3000
      command: npx ts-node services/main/src/server.ts
      networks:
        - Reunionou_api

networks:
  Reunionou_api:
    driver: bridge